.brand-image {
  float: left;
  line-height: .8;
  max-height: 34px;
  width: auto;
  margin-left: 2px;
  margin-right: 3px;
  margin-top: 9px;
}

.img-circle {
  border-radius: 50%;
}

.elevation-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.user-panel {
  position: relative;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.mb-3, .small-box, .card, .info-box, .callout,
.my-3 {
  margin-bottom: 1rem !important;
}

.d-flex, .info-box, .info-box-icon {
  display: flex !important;
}

.sidebar-mini.sidebar-collapse .main-sidebar .user-panel .image {
  float: none;
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel .image {
  float: left;
}

.img-circle {
  border-radius: 50%;
}

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.d-block {
  display: block !important;
  
}

.pbpx4 {
  padding-bottom: 4px;
}